.table {
    margin: auto;
    width: 45%;
}

.header-block {
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    width: 50%;
}

img {
    margin: 0 1em 0 0;
}

tr {
    vertical-align: middle;
}

.first {
    border: 3px solid gold;
}

.second {
    border: 2px solid silver;
}

.third {
    border: 2px solid #cd7f32;
}
