.table {
    margin: auto;
    width: 45%;
}

.header-block {
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    width: 50%;
}

#avatar {
    margin: 0 1em 0 0;
}

tr {
    vertical-align: middle;
}

.first {
    border: 3px solid gold;
}

.second {
    border: 2px solid silver;
}

.third {
    border: 2px solid #cd7f32;
}

.github-logo-link {
    margin: .25rem .5rem;
}

.github-logo-img {
    width: 32px;
    height: 32px;
    align-items: center;
}